<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>employee_add</title>
</head>
<body>
<form th:action="@{/employee}" method="post">
  empName<input type="text" name="empName"><br>
  age<input type="text" name="age"><br>
  gender:男<input type="radio" name="gender" value="男"><br>
    女<input type="radio" name="gender" value="女"><br>
  email<input type="text" name="email"><br>
    <input type="submit"   value="add">
</form>

</body>
</html>